<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <listener>
        <listener-class>com.idega.block.sso.listener.TicketValidatorSessionListener</listener-class>
    </listener>
    <filter>
        <filter-name>TicketAuthenticationFilter</filter-name>
        <filter-class>com.idega.block.sso.filter.TicketAuthenticationFilter</filter-class>
    </filter>
	<filter-mapping>
        <filter-name>TicketAuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
</web-app>